<section>
  <nav>
    <p><<p>
    <h2>New Entity</h2>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
  </nav>
  <%= form_with model: [@category, @entity] do |f| %>
    <div class="field">
      <%= f.label :name%><br>
      <%= f.text_field :name, placeholder: 'Name', value: '', required: true%><br>
    </div>
    <div class="field">
      <%= f.label :amount %><br />
      <%= f.number_field :amount %>
    </div>
    <%= f.submit "Create Entity", class: "button"%>
  <%end%>
</section>