<section>
  <nav>
    <%= link_to "á¸", category_entities_path(@category) %>
    <h2>New Entity</h2>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
  </nav>
  <%= form_with model: [@category, @entity] do |f| %>
    <%= render "shared/error_form_message", resource: @entity %>
    <div class="field">
      <%= f.label :name%><br>
      <%= f.text_field :name, placeholder: 'Name', value: '', required: true%><br>
    </div>
    <div class="field">
      <%= f.label :amount %><br />
      <%= f.number_field :amount %>
    </div>
    <%= fields_for :category_entities do |category_entity| %>
      <%= category_entity.label :category_id %>
      <%= category_entity.collection_check_boxes :category_id, Category.where(user_id: current_user.id), :id, :name, { multiple: true } %>
      <%= category_entity.label :entity_id %>
      <%= category_entity.hidden_field :entity_id, value: @entity.id %>
    <%end%>
    <%= f.submit "Create Entity", class: "button"%>
  <%end%>
</section>