<nav>
  <%= link_to "á¸", category_entities_path(@category) %>
  <h2>New Transaction</h2>
  <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'logout' %>
</nav>
<section class='form flex-column'>
  <%= form_with model: [@category, @entity] do |f| %>
    <%= render "shared/error_form_message", resource: @entity %>
    <div class="field">
      <%= f.text_field :name, placeholder: 'Name', value: '', required: true%>
    </div>
    <div class="field">
      <%= f.number_field :amount, placeholder: 'Amount' %>
    </div>
    <div class='checkbox-fields flex-column'>
      <%= fields_for :category_entities do |category_entity| %>
        <%= category_entity.label :category_id %>
        <div><%= category_entity.collection_check_boxes :category_id, Category.where(user_id: current_user.id), :id, :name, { multiple: true } %></div>
        <%= category_entity.hidden_field :entity_id, value: @entity.id %>
      <%end%>
    </div>
    <div class='new-element'><%= f.submit "Create Entity", class: "button"%><div>
  <%end%>
</section>